*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    color: #4F392B;
}
div img{
    margin: 0 10px;
    padding: 1px;
}

:root {
    --header-height: 80px;
    --aside-width: 240px;
}

/* ====================================nav==================================== */
ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}


/* NavBar */
nav {
    max-width: 1200px;
    margin: 0 auto;
    background: #E8E1DB;
    /* box-shadow: 0px 1px 3px #00000088; */

}

/* 隱藏 checkbox */
input {
    display: none;
}

/* 漢堡按鈕 */
label {
    float: right;
    padding-right: 30px;
    line-height: 50px;
    cursor: pointer;
}

label img {
    width: 30px;
    vertical-align: middle;
    margin-top: 10px;
}


/* menu*/
.menu {
    clear: both;
    background: #E8E1DB;
}

.menu li {
    text-align: center;
}

.menu li a {
    display: block;
    line-height: 50px;
    font-size: 16px;
    color: #4F392B;
}

.menu li a:hover {
    background: #DBD0BD;
    transition-duration: 0.2s;
}


/* 下拉選單效果 */
.menu {
    max-height: 0;
    overflow: hidden;
    transition: .2s;
    /* 動畫秒數 */
}

input:checked~.menu {
    max-height: 300px;
}

nav img.logo{
    /* height: 60px; */
    padding: 5px 10px;
}

li a.category{
    background-color: #4F392B;
    color: #E8E1DB;
}

/* mediaquery */
@media screen and (min-width: 768px) {
    label {
        display: none;
    }

    .menu {
        float: right;
        clear: none;
        max-height: 50px;
        background: #E8E1DB;
        margin: 0;
    }

    .menu li {
        display: inline-block;
    }

    .menu li a {
        padding: 0 10px;
        margin: 5px;
    }

}

/* ====================================button==================================== */
aside.button{
    /* border: 1px solid green; */
    max-width: 1200px;
    margin: 0 auto;
}

/* ====================================aside==================================== */
div.container{
    /* border: 1px solid black; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
aside.aside{
    margin: 0 auto;
    display: inline-block;
    position: fixed;
    width: var(--aside-width);
    height: calc(100% - var(--header-height));
    overflow-y: auto;
    padding: 5px;
}
aside.aside ul li {
    padding: 5px;
    margin: 5px;
}
aside.aside ul li p{
   box-shadow: 0 1px #4F392B;
   padding: 2px
}
aside.aside ul li a{
    background-color: #E8E1DB;
    padding: 5px;
    margin: 5px;
    color: #4F392B;
}
aside.aside ul li a:hover{
    background-color: #DBD0BD;
    transition-duration: 0.2S;
}
aside.aside ul li a.checked{
    background-color: #4F392B;
    color: #DBD0BD;
}

aside.aside {
        border: 1px solid #DBD0BD;
        position: fixed;
        /* fixed才不會占住空間位子 */
        background-color: #E8E1DB;
        /* left: 0; */
        top: 70px;
        /* top: var(--header-height); */
        /* 善用上方宣告的變數 */
        width: var(--aside-width);
        /* 善用上方宣告的變數 */
        height: calc(100% - var(--header-height));
        overflow-y: auto;
        /* 卷軸 */
        padding: 20px 0;

        /* 讓瀏覽器自動判斷有轉場效果的屬性 */
        transition: all 1s;
    }

@media (max-width: 767.98px) {
    aside.aside {
        top: 80px;
        height: 100%;
        transform: translateX(-100%);
    }

    aside.aside.-on {
        transform: translateX(0%);
    }
}

@media screen and (min-width: 768px){
    aside.aside {
        position: sticky;
        top: 0%;
    }
}

aside.aside nav.nav ul.nav_list {
    list-style: none;
    margin: 0;
    padding: 0;
}


aside.aside nav.nav ul.nav_list>li>a {
    /* border: 1px solid blue; */
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    position: relative;
}

aside.aside nav.nav ul.nav_list>li>a::after {
    content: "";
    /* border: 1px solid red; */
    position: absolute;
    /* 定位在父元素左下角 */
    left: 50%;
    bottom: 0;
    width: 80%;
    transform: translateX(-50%);
    /* background-color: red; */
    height: 1px;
}

aside.aside nav.nav ul.nav_list>li:last-child>a::after {
    display: none;
}

/* ====================================main==================================== */
button.btn_hamburger {
    display: none;
}

@media (max-width: 767.98px) {
    button.btn_hamburger {
        display: inline-block;
    }
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

main.main {
    /* border: 1px solid green; */
    /* height: 1000px; */
    width: calc(100% - var(--aside-width));
    margin-left: var(--aside-width);
    /* background-color: lightskyblue; */
    min-height: calc(100vh - var(--header-height));
    /* 100vh 等同於螢幕高度*/
    padding: 20px;

    /* 讓瀏覽器自動判斷有轉場效果的屬性 */
    transition: all 1s;
    margin: 0;
}

main img{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
        
div.brand_name{
    /* border: 1px solid green; */
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}

@media (max-width: 767.98px) {
    main.main {
        margin-left: 0;
        width: 100%;
    }
}

main.main ul.item_list {
    /* border: 1px solid green; */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

main.main ul.item_list>li {
    /* border: 1px solid red; */
    width: calc((100% - 60px)/4);
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767.98px) {
    main.main ul.item_list>li {
        width: calc((100% - 20px)/2);
    }
}

main.main ul.item_list>li:nth-child(4n) {
    /* n從0開始帶 */
    margin-right: 0px;
}

@media (max-width: 767.98px) {
    main.main ul.item_list>li:nth-child(2n) {
        margin-right: 0px;
    }
}

main.main ul.item_list>li>a {
    border: 1px solid #4F392B;
    display: block;
    text-decoration: none;
    padding: 3px;
    border-radius: 2px;
    background-color: #E8E1DB;
    color: #4F392B;
}

main.main ul.item_list>li>a:hover{
    background-color: #DBD0BD;
    transition-duration: 0.3s;
}

main.main ul.item_list>li>a div.img_block {
    border: 1px solid #DBD0BD;
    font-size: 0;
}

main.main ul.item_list>li>a p.item_text {
    /* border: 1px solid blue; */
    display: block;
    white-space: nowrap;
    /* 不斷行 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 省略符號 */
}

.cosme_cart{
    /* border: 1px solid #4F392B; */
    padding: 5px;
    display: inline-block;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #DBD0BD;
}

.cosme_cart:hover{
    cursor: pointer;
    color: #DBD0BD;
    background-color: #4F392B;
    transition-duration: 0.3s;
}

button{
    cursor: pointer;
    background-color: #DBD0BD;
    border: 1px solid #4F392B;
    margin: 0 15px;
    padding: 5px;
}

button img{
    padding: 0;
    margin: 2px;
}

.btn_hamburger2{
    margin: 0;
}

/* ====================================footer==================================== */
.footer{
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: #E8E1DB;
}
.footer img{
    width: 50px;
    /* border: 1px solid blue; */
}
.footer_main{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer_main div.contact, div.follow, div.pay{
    /* border: 1px solid black; */
    display: inline-block;
    margin: 30px;
    padding: 10px 20px;
}
div.contact_text, div.follow_text, div.pay_text{
    /* border: 1px solid red; */
    padding: 10px;
}
div.contact_text{
    border: 1px solid #4F392B;
    background-color: #DBD0BD;
    padding: 10px;
    margin: 0 auto;
}
div.contact_text:hover{
    cursor: pointer;
    background-color: #4F392B;
    color: #DBD0BD;
    transition-duration: 0.2s;
}
.footer p{
    font-size: 10px;
    margin: 0;
    padding: 5px;
}
footer.footer{
    background-color: #4F392B;
    color:#E8E1DB;
    text-align: left;
    padding: 5px;
}


@media screen and (max-width: 319.98px){
    /* ----------header---------- */
    div.icon{
        margin-right: 70px;
    }
    header div img{
        margin: 0 auto;
        padding: 7px;
    }

    /* ----------footer---------- */
    .footer_main{
        display: block;
        text-align: center;
        flex-wrap: wrap;
    }
    .footer_main div.contact, div.follow, div.pay{
        display: block;
    }
    .footer_main div.contact{
        margin: 10px;
    }
    div.contact_text{
        display: inline-block;
        padding: 10px 20px;
        margin: 20px;
    }
    .footer_main img{
        width: 25px;
        margin: 5px;
    }
    div.follow, div.pay{
        margin: 10px;
    }
}    


@media screen and (min-width: 320px) and (max-width: 459.98px){
    /* ----------header---------- */
    div.icon{
        margin-right: 70px;
    }
    header div img{
        margin: 0 auto;
        padding: 7px;
    }

    /* ----------footer---------- */
    .footer_main{
        display: block;
        text-align: center;
        flex-wrap: wrap;
    }
    .footer_main div.contact, div.follow, div.pay{
        display: block;
    }
    .footer_main div.contact{
        margin: 10px;
    }
    div.contact_text{
        display: inline-block;
        padding: 10px 20px;
        margin: 20px;
    }
    .footer_main img{
        width: 30px;
        margin: 5px;
    }
    div.follow, div.pay{
        margin: 10px;
    }
}

@media screen and (min-width: 460px) and (max-width: 575.98px){
    /* ----------header---------- */
    div.icon{
        margin-right: 70px;
    }
    header div img{
        margin: 0 auto;
        padding: 7px;
    }

    /* ----------footer---------- */
    .footer_main{
        display: block;
        text-align: center;
        flex-wrap: wrap;
    }
    .footer_main div.contact, div.follow, div.pay{
        display: block;
    }
    .footer_main div.contact{
        margin: 10px;
    }
    div.contact_text{
        display: inline-block;
        padding: 10px 20px;
        margin: 20px;
    }
    .footer_main img{
        width: 30px;
        margin: 5px;
    }
    div.follow, div.pay{
        margin: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px){
    /* ----------header---------- */
    div.icon{
        margin-right: 70px;
    }
    header div img{
        margin: 0 auto;
        padding: 7px;
    }

    /* ----------footer---------- */
    .footer_main{
        display: block;
        text-align: center;
        flex-wrap: wrap;
    }
    .footer_main div.contact, div.follow, div.pay{
        display: block;
    }
    .footer_main div.contact{
        margin: 0;
    }
    div.contact_text{
        display: inline-block;
        padding: 10px 20px;
        margin: 20px;
    }
    div.follow, div.pay{
        margin: 10px;
    }
    .footer_main img{
        width: 40px;
        margin: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* ----------header---------- */
    div.icon{
        margin-right: 70px;
    }
    header div img{
        margin: 0 auto;
        padding: 7px;
    }
  
    /* ----------footer---------- */
    .footer_main{
        display: block;
        text-align: center;
        flex-wrap: wrap;
    }
    .footer_main div.contact, div.follow, div.pay{
        display: block;
    }
    div.follow, div.pay{
        margin: 10px;
    }
    .footer_main div.contact{
        margin: 0;
    }
    div.contact_text{
        display: inline-block;
        padding: 10px 20px;
        margin: 20px;
    }
    .footer_main img{
        width: 40px;
        margin: 5px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* ----------footer---------- */
    .footer_main div.contact, div.follow, div.pay{
        display: inline-block;
        margin: 30px 20px;
        padding: 10px 20px;
    }
}

@media screen and (min-width: 1200px) {
    /* ----------nav---------- */
    /* 畫面寬度為 1200px 以上時，重新計算 right */
    nav {
        right: calc((100% - 1200px)/2);
    }
}